<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Tab</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
	<script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
	<script src="jquery.contextMenu.min.js"></script>
	<script src="views/bundle.js"></script>
	<script>let myData = <%- JSON.stringify( data ) %>;</script>
	<script src="views/view_x1.js"></script>
	<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body id="view_x1">
	<div>

		<!--
		<div id="c1" class="drag ui-widget-content">
				<canvas id="demoCanvas" width="60" height="60"></canvas><br>
				<div id="txOut1" align="center" style="font-size: 10px"></div><br>
				<div align="center"  style="font-size: 12px"><%= data[0].item %></div>
		</div>
		-->

		<div id="x1_w1" class="drag scroller ui-widget-content">
			<form id="form_x1_w1">
				
				<div id="div_x1_w1">
					<select id="sel1">
						<!-- <option><%= data %></option> -->
						<% for(var i=0; i < data.length; i++){ %>
							<option value="<%- i  %>"><%- data[i].col_a.replace(/\s/g, '&nbsp;') %></option>
						<% } %>
						
					</select>
					<textarea id="colA"></textarea>
					<textarea id="colB"></textarea>
					<textarea id="colC"></textarea>
					<textarea id="colD"></textarea>
					<textarea id="colE"></textarea>
					<textarea id="colF"></textarea>
					<textarea id="colG"></textarea>
					<textarea id="colH"></textarea>
					<textarea id="colI"></textarea>
					<textarea id="colJ"></textarea>
				</div>
				</form>
				<br>
				<button id="clr_btn">clear</button> <button id="add_btn">add</button>
			
			
			<!--
			<ol class="scroller">
				<% for(var i=0; i < data.length; i++){ %>
				<pre><li name="<%= data[i]._id %>"> <button> <%= data[i].item %> </button> </li></pre>
				<% } %>
			</ol>
			-->
		</div>

	</div>
</body>
</html>
